#data
data/*.csv*

#model
*.pickle
.pickle
model

#notebooks
*.ipynb
.ipynb_checkpoints

#others
.DS_Store
.idea/
*.html
*.zip
.env
municipios.geojson
municipios_col.json

#python files
*.pyc
__pycache__

