#data
App/data/*.csv

#model
*.pickle
.pickle
App/model

#notebooks
#*.ipynb
.ipynb_checkpoints

#others
.DS_Store
.idea/
*.html
*.zip
*.env
municipios.geojson
municipios_col.json

#python files
*.pyc
__pycache__

