/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
    background-color: #2e2d33;
}

.ds4a-body {
    margin-left: 14rem;
    margin-right: 0rem;
    padding: 4rem 4rem;
    background-color: #2e2d33;
}

.title_wrap {
    background-color: #2e2d33;
    bottom: 0;
    /*position:relative;*/
}

.ds4a-title {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    margin-left: 14rem;
    margin-right: 0rem;
    margin-bottom: 0px;
    padding: 1rem 1rem;
    background-color: #2e2d33;
}

.ds4a-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 14rem;
    background-color: #4b4952;
}

.body-bk {
    background-color: #4b4952;
}

.sidebar-menu {
    padding-left: 1rem;
    padding-right: 1rem;
}

.custom-tabs-container {
    width: 100%;
    background-color: #2e2d33;
}
.custom-tabs {
    border-top-left-radius: 5px;
    background-color: #2c2f38;
    padding: 0px 24px;
    border-bottom: 1px solid #2e2d33;
}

.custom-tab {
    color:gray;
    background-color: #2e2d33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tab--selected {
    background-color: #F8F9F9;
    color: black;
    box-shadow: 0px 1px 0px gray;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 5px solid #1df0f0 !important;
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-20px);
}

.flex-display {
  display: flex;
}

.charts_container {
  border-radius: 0px;
  background-color: #242626;
  margin: 10px;
  padding: 0px;
  position: relative;
    font-size: 100px;
}