/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
    background-color: #202124;
}

.ds4a-body {
    margin-left: 14rem;
    margin-right: 0rem;
    /*top: 8rem;*/
    padding: 7rem 3rem;
    background-color: #2e2d33;
    /*position:absolute;*/
}

.title_wrap {
    background-color: #2e2d33;
    /*position:absolute;*/
}

.ds4a-title {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    margin-left: 14rem;
    margin-right: 0rem;
    margin-bottom: 0px;
    padding: 1rem 1rem;
    background-color: #2e2d33;
}

.sidebar-exploratory {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 2rem;
    /*left: 0rem;*/
    /*bottom: 5rem;*/
    width: 14rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #4b4952;
    overflow-y: auto;
}

.sidebar-menu-exploratory {
    padding-left: 0rem;
    padding-right: 0rem;
}

.sidebar-network {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 2rem;
    /*left: 0rem;*/
    /*bottom: 32rem;*/
    width: 14rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #4b4952;
}

.sidebar-menu-network {
    padding-left: 0rem;
    padding-right: 0rem;
}

.sidebar-prediction {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 2rem;
    /*left: 0rem;*/
    /*bottom: 5rem;*/
    width: 14rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #4b4952;
}

.sidebar-menu-prediction {
    padding-left: 0rem;
    padding-right: 0rem;
}

.body-bk {
    background-color: #4b4952;
    padding-left: 0rem;
    padding-top: 0rem;
}

.custom-tabs-container {
    width: 100%;
    background-color: #2e2d33;
}

.custom-tabs {
    border-top-left-radius: 5px;
    background-color: #2c2f38;
    padding: 0px 24px;
    border-bottom: 1px solid #2e2d33;
}

.custom-tab {
    color: #4b4952;
    background-color: #2e2d33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tab--selected {
    background-color: cornsilk;
    color: black;
    box-shadow: 0px 1px 0px gray;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 5px solid #4b4952 !important;
}

.control_label {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-60px);
       font-size: 13px;
    color: White;
    text-decoration: none;
    display: block;
}

.flex-display {
  display: flex;
}

.charts_container {
  border-radius: 0px;
  background-color: #2c2f38;
  margin: 10px;
  padding: 0px;
  position: relative;
}
